.page
{
    width: 75%;
    height:1500px;
    float: center;
    border: 1px solid white;
}
.header{
	border: solid orangered;
    height:20px;
    background: orangered;
    width: 1230px;
}

footer
{
	float: bottom;
	background-color: orangered;
	border: solid orangered;
	width:1230px;
	height:20px;
}
.presentation
{
    background-color: #DCDCDC;
    margin: auto;
    border: solid #DCDCDC;
    height: 250px;
    width: 1230px;


}
h1
{
	
	font-size: 29px
    
} 
p
{
  font-size: small;
  

}
.logo
{
	float: left;
	border-radius: 100px; 
	border:solid black;
	height: 50px;
	width:50px;
	padding: 20px;
	background-color: #c0c0c0;
	text-align: center;

}
.titre
{
   float: right;
   border: solid #DCDCDC;
   font-size: medium;

}
.fac
{
	border: solid #DCDCDC;
  border-bottom-color: blue;
  border-bottom: 0.5px;
  text-align: center;
  height: 20px;
  width:100px;

}
.desti
{

	float: left;
}
.envoyer
{

	float:right;
}
.table
{
  margin: auto;
  border: 1px solid black;
  border-right: 1px solid black;




}
.div1
{
margin: auto;

}
h3
{  
 color: #4169e1;
}
u
{  
 color: #4169e1;
}
.condi
{
 float: right;


}
.color1
{
  background-color: orangered;


}
.description
{
  width: 100%;



}
.color2
{
 color: #DCDCDC;


}


}
.input
{
	border: 0px;
	background-color: #DCDCDC;
}
.color2
{
 background-color: #DCDCDC;

}
table.calcul
{
    float: right;
    border: 0px;
    margin: 0px;
    border-spacing: 0;
    text-align: right;
    margin-right: 0px;
    padding: 0px;

}
table .calcul input 
{
    border-style: hidden;
    border-bottom: 1px solid black;
    float: right;
    text-align: right;
    width: 95%;

}
table .calcul_S input
{
    border-style: hidden;
    float: right;
    text-align: right;
    background-color: transparent;
    margin-right: 1px;

}
table.solde
{
    float: right;
    font-size: 18px;
    background-color: lightsalmon;
    font-weight: bold;
    border-bottom: 2px solid black;
    border-top: 2px solid black;

}